<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">  
      <a href="#" class="navbar-brand">CPD Tracker</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
      </ul>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="register()" class="btn btn-outline-light btn-sm">Sign Up</a>
        </li>
        <li class="nav-item">
          <a (click)="login()" class="btn btn-outline-light btn-sm">Login</a>
        </li>
      </ul>
    </nav>
  
    <div class="container mt-3"> </div>
  </div>
      
  <div class="container">
  <form (submit)="resetPassword($event)" class="join-form">  
    <p-card header="Password Reset" [style]="{ width: '540px' }">
  
      <div class="field">
        <label>Email: </label><br>
        <input
          style="margin-left:5px"
          type="text"
          class="form-control block w-full mb-3"
          placeholder="name@example.com"
        /><p id="email-value">{{ email }}</p>
        <br>
      </div>
      
      <div class="field">
        <label>Password: </label><br>
        <input
          style="margin-left:5px"
          type="password"
          class="form-control block w-full mb-3"
          id="newPassword"
          placeholder="Enter new password"
        /><br>
        </div>
      
      <div class="field">
        <label>Confirm Password: </label><br>
        <input
          style="margin-left:5px"
          type="password"
          class="form-control block w-full mb-3"
          id="passwordConfirmation"
          placeholder="Confirm password"
        /><br>
      </div>
  
      <p-button
        label="Submit"
        styleClass="w-full"
        type="submit"
      >
      </p-button>
      
      <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
    </p-card>
  </form>
  </div>  
