<!-- Top navigation -->
<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">  
      <a href=":email" class="navbar-brand">CPD Tracker</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active"></ul>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="logout()" class="btn btn-outline-light btn-sm">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="container mt-3"> </div>
  </div>

<!-- Side navigation -->
<div class="sidenav">
  <a (click)="navigateToPersonal()">Personal Details</a><br>
  <a (click)="navigateToEmployment()">Employment History</a><br>
  <a (click)="navigateToAcademic()">Academic Qualifications</a><br>
  <a (click)="navigateToAffiliation()">Professional Affiliations</a><br>
  <a (click)="navigateToService()">Professional Services</a><br>
  <a (click)="navigateToCPD()">CPD Training</a><br>
  <a (click)="navigateToEndorsement()">Endorsements</a><br>
  </div>


<!-- Chat Room -->
<!-- Page content -->

<div class="container">
  <div class="col-md-8">
    <div class="chat-container">

      <div class="chat-header">
        <p class="style">&nbsp; &nbsp;Chat Room</p>
      </div>

      <div class="chat-body">
          <div class="message-container">
            <div *ngFor="let user of messages">
              {{email}}: {{user.message}}
            </div>
          </div>

          <div class="chat-footer">
            <div class="row">
              <div class="col-md-10">

                <div class="form-group mb-0 ">
                    
                  <form [formGroup]="messageForm" (submit)="submitMessage()">
                      <input type="text" placeholder="Type a message" class="form-control" formControlName="message" /><br>              
                          <div class="col-md-2 text-center align-self-center">
                            <button class="btn btn-primary btn-sm px-3" type="submit">Send</button>
                          </div>
                  </form>
                      
                </div>

              </div>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>
