<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Top navigation -->
<div>
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">  
      <a href=":email" class="navbar-brand">CPD Tracker</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
      </ul>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="logout()" class="btn btn-outline-light btn-sm">Logout</a>
        </li>
      </ul>
    </nav>
  
    <div class="container mt-3"> </div>
  </div>
  
  <!-- Side navigation -->
  <div class="sidenav">
    <a (click)="navigateToPersonal()">Personal Details</a><br>
    <a (click)="navigateToEmployment()">Employment History</a><br>
    <a (click)="navigateToAcademic()">Academic Qualifications</a><br>
    <a (click)="navigateToAffiliation()">Professional Affiliations</a><br>
    <a (click)="navigateToService()">Professional Services</a><br>
    <a (click)="navigateToCPD()">CPD Training</a><br>
    <a (click)="navigateToEndorsement()">Endorsements</a><br>
  </div>
      
  <!-- Main Content -->
<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Academic Qualification Entries</h2>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <a (click)="navigateToAcademicAdd()" class="btn btn-success btn-sm">Add Academic Qualifications</a>
  <br><br>

  <p *ngIf="Academics.length <= 0" class="no-data">
      There is no entry added yet!
  </p>

  <div class="table-responsive" *ngIf="Academics.length > 0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Establishment</th>
            <th scope="col">Course Title</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Responsibilities</th>
            <th class="text-center" scope="col">Edit/Delete</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let academic of Academics; let i = index">
            <td>{{academic.establishment}}</td>
            <td>{{academic.courseTitle}}</td>
            <td>{{academic.academicStart}}</td>
            <td>{{academic.academicEnd}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary" routerLink="/user/:email/academic-details/{{academic._id}}"><i class="bi bi-pencil-square"></i></button>&nbsp;
              <button class="btn btn-sm btn-danger" (click)="delete(academic._id, i)"><i class="bi bi-trash3-fill"></i></button>
          </tr>
        </tbody>
   
      </table>
  </div>
</div> 


<!--
<div class="container academics-table">
    <div class="alert alert-success text-center" role="alert" *ngIf="Academic.length <= 0">
        No Academic Qualifications added yet!
    </div>
    <ul class="list-unstyled">
        <li class="media" *ngFor="let academics of Academic; let i = index">
            <img [src]="academics.files" class="mr-3" [alt]="academics.establishment">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{academics.establishment}}</h5>
                <h5 class="mt-0 mb-1">{{academics.courseTitle}}</h5>
                <h5 class="mt-0 mb-1">{{academics.academicStart}}</h5>
                <h5 class="mt-0 mb-1">{{academics.academicEnd}}</h5>
                {{academics._id}}
            </div>
        </li>
    </ul>
</div>
-->