<!-- Top navigation -->
<div>
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">  
      <a href=":email" class="navbar-brand">CPD Tracker</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
      </ul>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="logout()" class="btn btn-outline-light btn-sm">Logout</a>
        </li>
      </ul>
    </nav>
  
    <div class="container mt-3"> </div>
  </div>
  
<!-- Side navigation -->
  <div class="sidenav">
    <a (click)="navigateToPersonal()">Personal Details</a><br>
    <a (click)="navigateToEmployment()">Employment History</a><br>
    <a (click)="navigateToAcademic()">Academic Qualifications</a><br>
    <a (click)="navigateToAffiliation()">Professional Affiliations</a><br>
    <a (click)="navigateToService()">Professional Services</a><br>
    <a (click)="navigateToCPD()">CPD Training</a><br>
    <a (click)="navigateToEndorsement()">Endorsements</a><br>
  </div>
      
<!-- Main Content -->
  <div class="container">
  <div class="row justify-content-center mt-5">
  <div class="inner-wrapper col-md-4">
      <form [formGroup]="cpdForm" (ngSubmit)="onSubmit()"
            #resetCpdForm="ngForm" >
    
      <p-card header="CPD Training" [style]="{ width: '700px' }">
        <mat-divider fxFlex="1 0"></mat-divider><br><br>

    <!-- Drop down selection -->
        <mat-form-field>
            <mat-label>CPD Type</mat-label>
            <mat-select formControlName="typeCPD">
            <mat-option
                [value]="typeArray"
                *ngFor="let typeArray of typeArray"
                >{{ typeArray }}
            </mat-option>
            </mat-select>
            <mat-error *ngIf="handleError('typeCPD', 'required')">
            Selection is required
            </mat-error>
        </mat-form-field>
        <br><br>

        <div class="form-group">
          <label>Activity Title</label>
          <input
            class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            type="text"
            formControlName="cpdTitle"
            required
          />
        </div><br>

        <div class="form-group">
            <label>Description</label>
            <textarea
              class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              type="text"
              rows="4"
              formControlName="cpdDescribe"
              placeholder="Summary of content, purpose and rationale or learning objectives."
              required>
            </textarea>
          </div><br>


<!-- Left & right block for Dates -->

<mat-card>
    <div class="controlers-wrapper">

       <mat-form-field>
        <mat-hint>MM/DD/YYYY</mat-hint>
            <input
              matInput
              readonly
              [matDatepicker]="picker1"
              placeholder="Start Date"
              formControlName="cpdStart"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="handleError('cpdStart', 'required')">
              Start date is required
            </mat-error>
          </mat-form-field><br><br>

    </div>
</mat-card>

<mat-card>
    <div class="controlers-wrapper">
          <mat-form-field>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <input
              matInput
              readonly
              [matDatepicker]="picker2"
              placeholder="End Date"
              formControlName="cpdEnd"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="handleError('cpdEnd', 'required')">
              End date is required
            </mat-error>
          </mat-form-field><br><br>
    </div>
</mat-card>
  

<!-- CPD HOURS -->

<br><br>
<div class="controlers-wrapper col-md-4">
    <div class="form-outline">
        <label>CPD Hours</label>
        <input 
            type="number" 
            formControlName="cpdHours" 
            class="form-control" 
            placeholder="eg. 25"
        />
        <label class="form-label" for="cpdHours"></label>
    </div>
</div><br>


<!-- Resume main content -->

<div class="form-group">
    <label>Reflection</label>
    <textarea
      class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      type="text"
      rows="4"
      formControlName="cpdReflect"
      placeholder="Key things you learned and how you can put them into practice."
      required>
    </textarea>
  </div><br>
        
  
<!--File Upload Field-->
<br>
  <form [formGroup]="cpdForm">
    <div class="row">

      <!-- Progress Bar -->
      <div class="col-md-12" *ngIf="progress">
        <div class="progress form-group">
          <div
            class="progress-bar progress-bar-striped bg-success"
            role="progressbar"
            [style.width.%]="progress"
          ></div>
        </div>
      </div>

      <div class="col-md-12">
        <div
          class="fileupload"
          appDragDropFileUpload
          (click)="fileField.click()"
          (fileDropped)="upload($event)"
        >
          <span class="ddinfo">Choose a file or drag here</span>
          <input
            type="file"
            name="files"
            #fileField
            (change)="upload($any($event).target.files)"
            hidden
            multiple
          />
        </div>
      </div>

      <div class="col-md-12">
        <div class="image-list" *ngFor="let file of fileArr; let i = index">
          <div class="profile">
            <img [src]="sanitize(file['url'])" alt="" />
          </div>
          <p>{{ file.item.name }}</p>
        </div>
        <p class="message">{{ msg }}</p>
      </div>

      </div>
  </form>
<br><br>

<!-- Submit Button-->      
        <p-button
        label="Submit"
        styleClass="w-full"
        type="submit">
      </p-button>
      
        </p-card>
      </form>

    </div>
  </div>
  </div>