<!-- Top navigation -->
<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">  
      <a href=":email" class="navbar-brand">CPD Tracker</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
      </ul>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="logout()" class="btn btn-outline-light btn-sm">Logout</a>
        </li>
        <li><a (click)="navigateToUserProfile()" id="email"><span id="email-value"></span></a></li>
      </ul>
    </nav>
  
    <div class="container mt-3"> </div>
  </div>

<!-- Side navigation -->
<div class="sidenav">
  <a (click)="navigateToPersonal()">Personal Details</a><br>
  <a (click)="navigateToEmployment()">Employment History</a><br>
  <a (click)="navigateToAcademic()">Academic Qualifications</a><br>
  <a (click)="navigateToAffiliation()">Professional Affiliations</a><br>
  <a (click)="navigateToService()">Professional Services</a><br>
  <a (click)="navigateToCPD()">CPD Training</a><br>
  <a (click)="navigateToEndorsement()">Endorsements</a><br>
  </div>

<!-- Page content -->
  <div class="container">
    <header class="jumbotron">
      <h1>Introduction to Professional Registration and Continuous Professional Development (CPD)</h1>
    </header>
    
    <mat-accordion>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Professional Registration
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Continous Professional Development (CPD)
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Board of Engineering Trinidad & Tobago
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState ? 'Close here.' : 'Want to learn how? Open here.'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open.</p>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            UK Council Engineering
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState ? 'Close here.' : 'Want to learn how? Open here.'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open.</p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>