<!-- Top navigation -->
<div>
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">  
      <a href=":email" class="navbar-brand">CPD Tracker</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
      </ul>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="logout()" class="btn btn-outline-light btn-sm">Logout</a>
        </li>
      </ul>
    </nav>
  
    <div class="container mt-3"> </div>
  </div>
  
  <!-- Side navigation -->
  <div class="sidenav">
    <a (click)="navigateToPersonal()">Personal Details</a><br>
    <a (click)="navigateToEmployment()">Employment History</a><br>
    <a (click)="navigateToAcademic()">Academic Qualifications</a><br>
    <a (click)="navigateToAffiliation()">Professional Affiliations</a><br>
    <a (click)="navigateToService()">Professional Services</a><br>
    <a (click)="navigateToCPD()">CPD Training</a><br>
    <a (click)="navigateToEndorsement()">Endorsements</a><br>
  </div>
      
  <!-- Main Content -->
  <div class="container">
  <div class="row justify-content-center mt-5">
  <div class="inner-wrapper col-md-4">
      <form [formGroup]="employmentForm" (ngSubmit)="onSubmit()"
            #resetEmploymentForm="ngForm" >
    
      <p-card header="Employment History" [style]="{ width: '700px' }">
        <mat-divider fxFlex="1 0"></mat-divider><br><br>

        <div class="form-group">
          <label>Job Title</label>
          <input
            class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            type="text"
            formControlName="jobTitle"
            required
          />
        </div><br>
        
        <div class="form-group">
          <label>Employer Name</label>
          <input
            class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            type="text"
            formControlName="employer"
            required
          />
        </div><br>

    <!-- Left & right block for Dates -->

<mat-card>
    <div class="controlers-wrapper">

       <mat-form-field>
        <mat-hint>MM/DD/YYYY</mat-hint>
            <input
              matInput
              readonly
              [matDatepicker]="picker1"
              placeholder="Start Date"
              formControlName="employStart"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="handleError('employStart', 'required')">
              Start date is required
            </mat-error>
          </mat-form-field><br><br>

    </div>
</mat-card>

<mat-card>
    <div class="controlers-wrapper">
          <mat-form-field>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <input
              matInput
              readonly
              [matDatepicker]="picker2"
              placeholder="End Date"
              formControlName="employEnd"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="handleError('employEnd', 'required')">
              End date is required
            </mat-error>
          </mat-form-field><br><br>
    </div>
</mat-card>
     
        <!--under input: (dateChange)="formatDate($event)" -->
        
<!-- <mat-date-range-input [rangePicker]="picker" [formGroup]="employmentForm"> 

  <mat-card>
        <mat-form-field>

          <mat-label>Choose Date Range</mat-label>

          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate 
                   formControlName="employStart" 
                   placeholder="Start Date">
            <input matEndDate formControlName="employEnd" placeholder="End Date">
          </mat-date-range-input>
          
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          
          <mat-error *ngIf="handleError('employStart', 'required')">
            Start date is required
          </mat-error>
          <mat-error *ngIf="handleError('employEnd', 'required')">
            End date is required
          </mat-error>

        </mat-form-field>

        <p><em>
          Start Date: {{employmentForm.value.employStart | date}}<br>
          End Date: {{employmentForm.value.employEnd | date}}
        </em></p>
  </mat-card>
  <br><br>
  -->

    <!-- Resume normal form -->

        <div class="form-group">
          <label>Responsibilities</label>
          <textarea
            class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            type="text"
            rows="4"
            formControlName="responsibilities"
            placeholder="Summary of your main responsibilities, any awards and personal contributions."
            required>
          </textarea>
        </div><br>
  
  <!--File Upload Field-->
        
        <p-button
        label="Submit"
        styleClass="w-full"
        type="submit">
      </p-button>
      
        </p-card>
      </form>
    </div>
  </div>
  </div>